.bar {
    
  }
  
  .bar__content {
   
  }
  
  .bar__player-progress {

  }
  
  .bar__player-block {
    
  }
  
  .bar__player {
    
  }
  
  .bar__volume-block {

  }
  
  .player__controls {

  }
  
  .player__btn-prev,
  .player__btn-play,
  .player__btn-next,
  .player__btn-repeat,
  .player__btn-shuffle {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .player__btn-prev {
  }
  
  .player__btn-prev-svg {
  }
  
  .player__btn-play {
  }
  
  .player__btn-play-svg {
  }
  
  .player__btn-next {

  }
  
  .player__btn-next-svg {

  }
  
  .player__btn-repeat {
  }
  
  .player__btn-repeat-svg {

  }
  
  .player__btn-shuffle {
    
  }
  
  .player__btn-shuffle-svg {

  }
  
  .player__track-play {

  }
  
  .track-play__contain {

  }
  
  .track-play__image {

  }
  
  .track-play__svg {

  }
  
  .track-play__author {

  }
  
  .track-play__author-link {

  }
  
  .track-play__album {

  }
  
  .track-play__album-link {

  }
  
  .track-play__like-dis {

  }
  
  .track-play__like,
  .track-play__dislike {
  }
  
  .track-play__like-svg {

  }
  
  .track-play__dislike {
  }
  
  .track-play__dislike-svg {

  }
  
  .volume__content {

  }
  
  .volume__image {

  }
  
  .volume__svg {
  }
  
  .volume__progress {
  }
  
  .volume__progress-line {
  }